{% extends 'base.html.twig' %}

{% block title %}Hello MainPageController!{% endblock %}

{% block body %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/3">
                <a href="{{ path('app_league_of_legends_home') }}">
                    <div class="h-full rounded-xl shadow-cla-blue bg-gradient-to-r from-indigo-50 to-blue-50 overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://4kwallpapers.com/images/walls/thumbs_2t/11617.png" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Riot Games</h2>
                            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">League of Legends</h1>
                            <p class="leading-relaxed mb-3">Bienvenue Invocateur ! Ici tu retrouveras tout ce dont tu as besoin. Tu pourras également retrouver des joueurs avec les mêmes objectifs que toi.</p>
                            <div class="flex items-center flex-wrap bottom-4 left-4">
                                <button class="bg-gradient-to-r from-cyan-400 to-blue-400 hover:scale-105 drop-shadow-md  shadow-cla-blue px-4 py-1 rounded-lg">Suite</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="p-4 md:w-1/3">
                <a href="{{ path('app_poke_home') }}">
                    <div class="h-full rounded-xl shadow-cla-violate bg-gradient-to-r from-pink-50 to-red-50 overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://image.winudf.com/v2/image/Y29tLnRvcHJha3Jpbmd0b25lZGV2LnBva2Vtb253YWxscGFwZXJzYW5kYmFja2dyb3VuZHBpY3R1cmVzX3NjcmVlbl8wXzE1Mjg3NTYzMDBfMDIx/screen-0.webp?fakeurl=1&type=.webp" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Nintendo</h2>
                            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Pokemon</h1>
                            <p class="leading-relaxed mb-3">Tu souhaites affronter la ligue mais tu n'as pas d'idée sur la façon dont tu pourrais t'y prendre ? Connecte toi avec d'autres dresseurs !</p>
                            <div class="flex items-center flex-wrap bottom-4 left-4">
                                <a href="#" class="bg-gradient-to-r from-orange-300 to-amber-400 hover:scale-105 drop-shadow-md shadow-cla-violate px-4 py-1 rounded-lg">Suite</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="p-4 md:w-1/3">
                <a href="{{ path('app_league_of_legends_home') }}">
                    <div class="h-full rounded-xl shadow-cla-pink bg-gradient-to-r from-red-100 to-red-300 overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="https://pbs.twimg.com/media/Fjz1eSyWQAAQYwk.jpg:large" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Blizzard</h2>
                            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Diablo 4</h1>
                            <p class="leading-relaxed mb-3">Envie de passer les donjons du cauchemard les plus compliqués ? Retrouves les builds les plus jouer ainsi que des conseils.</p>
                            <div class="flex items-center flex-wrap ">
                                <button class="bg-gradient-to-r from-red-400 to-red-500 hover:scale-105 shadow-cla-blue px-4 py-1 rounded-lg">Suite</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
