{% extends 'base.html.twig' %}

{% block title %}Poke Labs{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('poke') }}
{% endblock %}

{% block body %}
    <div class="text-gray-900 pt-12 pr-0 pb-14 pl-0">
        <div class="brumeEffect"></div>
        <div class="w-full pt-4 pr-5 pb-6 pl-5 mt-0 mr-auto mb-0 ml-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16
      max-w-7xl">
            <div class="flex flex-col items-center sm:px-5 md:flex-row">
                <div class="flex flex-col items-start justify-center w-full h-full pt-6 pr-0 pb-6 pl-0 mb-6 md:mb-0 md:w-1/2">
                    <div class="flex flex-col items-start justify-center h-full space-y-3 transform md:pr-10 lg:pr-16
            md:space-y-5">
                        <div class="secondButton flex items-center leading-none rounded-full text-gray-50 pt-1.5 pr-3 pb-1.5 pl-2
              uppercase inline-block">
                            <p class="inline">
                                <svg class="w-3.5 h-3.5 mr-1" fill="currentColor" viewbox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0
                  00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755
                  1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1
                  0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"/></svg>
                            </p>
                            <p class="text-gray-50 inline text-xs font-medium">Poke Labs</p>
                        </div>
                        <h1 class="text-4xl font-bold leading-none lg:text-5xl xl:text-6xl">Bienvenue sur Poke Labs.</h1>
                        <div class="pt-2 pr-0 pb-0 pl-0">
                            <p class="subText mt-3 text-lg leading-relaxed">Actualités, Informations, E-sport, streaming</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2">
                    <div class="block">
                        <iframe width="100%" height="315" src="https://www.dailymotion.com/video/x89mtwn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 sm:px-5 gap-x-8 gap-y-16">
                <a href="{{ path('app_library_lol') }}" class="block hover:no-underline col-span-12 sm:col-span-6 xl:col-span-4">
                    <div class="borderCards flex flex-col justify-center items-center space-y-3 p-3">
                        <img src="https://images.gameinfo.io/pokemon/256/p94f466.png" />
                        <p class="secondButton flex items-center leading-none text-sm font-medium text-gray-50 pt-1.5 pr-3 pb-1.5 pl-3 rounded-full uppercase inline-block">Actualités</p>
                        <span class="text-lg font-bold sm:text-xl md:text-2xl">Les dernières News</span>
                        <p class="text-sm subText">Plongez au cœur de l'action et restez informé des dernières mises à jour, des événements épiques et des nouvelles intrigues qui façonnent l'univers de Pokemon.</p>
                    </div>
                </a>
                <a href="{{ path('app_pokedex') }}" class="block hover:no-underline col-span-12 sm:col-span-6 xl:col-span-4">
                    <div class="borderCards flex flex-col justify-center items-center space-y-3 p-3">
                        <img src="https://images.gameinfo.io/pokemon/256/p6f102.png" />
                        <p class="secondButton flex items-center leading-none text-sm font-medium text-gray-50 pt-1.5 pr-3 pb-1.5 pl-3 rounded-full uppercase inline-block">Lores</p>
                        <span class="text-lg font-bold sm:text-xl md:text-2xl">Pokedex</span>
                        <p class="text-sm subText">Découvrez les mythes et les légendes qui entourent l'univers de Pokemon. Explorez et apprenez les origines secrètes de vos pokemons préférés.</p>
                    </div>
                </a>
                <a href="{{ path('app_library_lol') }}" class="block hover:no-underline col-span-12 sm:col-span-6 xl:col-span-4">
                    <div class="borderCards flex flex-col justify-center items-center space-y-3 p-3">
                        <img src="https://www.margxt.fr/wp-content/uploads/2023/07/Mega-Tyranocif.png" />
                        <p class="secondButton flex items-center leading-none text-sm font-medium text-gray-50 pt-1.5 pr-3 pb-1.5 pl-3 rounded-full uppercase inline-block">Sherlock</p>
                        <span class="text-lg font-bold sm:text-xl md:text-2xl">Détéctive ?</span>
                        <p class="text-sm subText">Curieux de connaître les statistiques de votre adversaire ? Utilisez notre outil de recherche pour dévoiler les secrets et les talents cachés des plus grands dresseurs.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}