@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1, h2 {
    color: #7a515f;
}

h4 {
    color: #a98d9f;
}

p {
    color: #000000;
}

.firstButton {
    background-color: #7a515f;
    color: #ffffff;
}

.firstButton:hover {
    background-color: #85666f;
    color: #ffffff;
}

.firstColor {
    color: #7a515f;
}

.headerNav {
    color: #000000;
}

input[name="user_profile[username]"] {
    border: none;
    background-color: transparent;
    font-size: 2em;
    font-weight: bold;
    outline: none;
}

input[name="user_profile[username]"]:focus {
    background-color: #f5f5f5;
}

.username-edit.hidden {
    display: none;
}

input[name="description_profile[description]"] {
    border: none;
    background-color: transparent;
    font-size: 2em;
    font-weight: bold;
    outline: none;
}

input[name="description_profile[description]"]:focus {
    background-color: #f5f5f5;
}

.username-edit.hidden {
    display: none;
}

.notification-dot {
    position: relative;
}

.notification-dot::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

.notification-icon {
    margin-top: -10px;
    margin-right: -70px;
}

.notification-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
}

.hidden {
    display: none;
}

#dropdown-menu-notification {
    right: 0;
    z-index: 1000;
}



